In [1]:
# import necessary libraries
import pandas as pd

from config import pizza_types_path, pizzas_path, orders_path, order_details_path

In [2]:
orders = pd.read_csv(orders_path, encoding='windows-1251', parse_dates=['date'])

orders['month'] = orders['date'].dt.month
orders['season'] = orders['date'].dt.quarter

In [3]:
orders['time'] = pd.to_datetime(orders['time'])

orders['time'] = orders['time'].apply(lambda x: x.replace(minute=0, second=0))

C:\Users\Владислав\AppData\Local\Temp\ipykernel_27876\1751465610.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  orders['time'] = pd.to_datetime(orders['time'])

In [4]:
# QUESTION 3

orders.groupby('time')['order_id'].count()

# As we can see, peak hours for the restaurant are from 13 to 15 hours and between 17 and 19 hours
# It's logical, because in average people have lunch/dinner at that time

time
2024-04-29 09:00:00       1
2024-04-29 10:00:00       8
2024-04-29 11:00:00    1231
2024-04-29 12:00:00    2520
2024-04-29 13:00:00    2455
2024-04-29 14:00:00    1472
2024-04-29 15:00:00    1468
2024-04-29 16:00:00    1920
2024-04-29 17:00:00    2336
2024-04-29 18:00:00    2399
2024-04-29 19:00:00    2009
2024-04-29 20:00:00    1642
2024-04-29 21:00:00    1198
2024-04-29 22:00:00     663
2024-04-29 23:00:00      28
Name: order_id, dtype: int64

In [5]:
month_names = {
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
}

season_names = {
    1: 'Winter',
    2: 'Spring',
    3: 'Summer',
    4: 'Autumn'
}

orders['month'] = orders['month'].map(month_names)
orders['season'] = orders['season'].map(season_names)

In [6]:
# QUESTION 4

orders.groupby('season')['order_id'].count()

# Orders are highest in the summer and spring, and lowest in the autumn
# thus there is a light correlation

season
Autumn    5118
Spring    5425
Summer    5437
Winter    5370
Name: order_id, dtype: int64

In [7]:
orders.groupby('month')['order_id'].count()

# If we look at months, most orders occur in July, May and January
# Hard to make a clear conclusion, but in average during warm month (Spring and Summer) more orders take place

month
April        1799
August       1841
December     1680
February     1685
January      1845
July         1935
June         1773
March        1840
May          1853
November     1792
October      1646
September    1661
Name: order_id, dtype: int64

In [8]:
order_details = pd.read_csv(order_details_path, encoding='windows-1251',)

In [9]:
order_details.head()

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1

In [15]:
# QUESTION 5

grouped_data = order_details.groupby('pizza_id')['quantity'].sum()

sorted_data = grouped_data.sort_values(ascending=True)

sorted_data

# As we can see, there are some pizzas that are ordered quite rarely
# 'the_greek_xxl', 'green_garden_l', 'ckn_alfredo_s', 'calabrese_s'
# Thus, company can remove this positions from the menu because of their unpopularity

pizza_id
the_greek_xxl       28
green_garden_l      95
ckn_alfredo_s       96
calabrese_s         99
mexicana_s         162
                  ...
classic_dlx_m     1181
four_cheese_l     1316
five_cheese_l     1409
thai_ckn_l        1410
big_meat_s        1914
Name: quantity, Length: 91, dtype: int64